<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>app-title</title>
    <script type="importmap">
      {
        "imports": {
          "jail/signal": "https://cdn.jsdelivr.net/gh/mini-jail/jail/packages/signal/mod.js",
          "jail/router": "https://cdn.jsdelivr.net/gh/mini-jail/jail/packages/router/mod.js",
          "jail/dom": "https://cdn.jsdelivr.net/gh/mini-jail/jail/packages/dom/mod.js"
        }
      }
    </script>
    <link href="app.css" rel="stylesheet" />
    <script type="module" src="app.js"></script>
  </head>
  <body></body>
</html>
