@import url("./assets/ark-pixel-font.css");

* {
  padding: 0;
  margin: 0;
  word-break: break-all;
  box-sizing: border-box;
}

html {
  top: 0;
  left: 0;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
}

body {
  width: inherit;
  height: inherit;
  overflow: auto;
  background-color: deepskyblue;
  display: flex;
  flex-direction: column;
}

header {
  background-color: steelblue;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

header h1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

main {
  padding: 10px;
  flex: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav {
  display: flex;
  gap: 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: hotpink;
}

a:hover {
  color: plum;
}

nav {
  & a {
    cursor: pointer;
  }
}

article {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}

button,
input {
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  transition: 100ms;
  background-color: white;
  padding: 5px 20px;
  border: 0;
  cursor: pointer;
  outline: none;
}

button:hover,
input:hover {
  background-color: plum;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.1);
}

button:active,
input:focus {
  background-color: pink;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
}

pre {
  white-space: break-spaces;
}

textarea {
  background-color: white;
  border: 0;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  display: block;
  resize: vertical;
  width: 100%;
  min-height: 60px;
  height: 60px;
}

progress {
  background-color: white;
  border: 0;
  height: 20px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}

progress::-moz-progress-bar,
progress::-webkit-progress-bar,
progress::-webkit-progress-value {
  background-color: plum !important;
  color: plum !important;
  accent-color: plum !important;
}

code {
  background-color: slategray;
  display: block;
  counter-reset: line;
  margin: 0 auto;
  width: max-content;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}

code pre {
  color: papayawhip;
  padding-right: 10px;
}

code pre::before {
  counter-increment: line;
  content: counter(line);
  user-select: none;
  text-align: right;
  display: inline-block;
  width: 32px;
  color: pink;
  padding: 0px 10px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

code pre:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}

.todo-app-container {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-item {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  cursor: pointer;
}

.todo-item-text {
  text-align: left;
  flex: 1;
}

.todo-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-item-delete:hover {
  color: indianred;
}

.todo-app input,
.todo-app label,
.todo-app progress {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.sierpinski-dot {
  position: absolute;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.sierpinski-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
}
